p {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: greenyellow;
}
#primer-p{
  color:red;
  background-color: #FA8072;
}
p.subrayado{
  text-decoration: underline;
}

.otro-color{
  color: rgba(99, 195, 117, 0,5
  );
}
body{
  background-image: url("../MajoSpa/img/bg.jpg");
  background-size: cover;
}